body {}

.flag {
  width: 10%;
  height: 5%;
}

.heading,
.main-footer{
  background-color: coral;
  font-size: 1.5rem;
  font-weight: bold;
  padding:10px 0
}

#submitButton {
  border-radius: 3px;
  background-color: coral;
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 30px;
  color: darkslategrey;
}
#submitButton:hover {
  color: indigo;
  font-weight: bold;
  font-size: 1.5rem;
  background-color:lightseagreen;
}

#reload {
  border-radius: 3px;
  background-color: darkslategray;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 30px;
  color: coral;
}

#reload:hover {
  color: indigo;
  font-weight: bold;
  font-size: 1.5rem;
  background-color:lightseagreen;
}


.jumbotron {
  background-color: goldenrod;
  color: darkslategrey;
  padding: 0 10px;


}

.main-footer a {
  text-decoration: none;
  color: darkslategrey;

}

.main-footer a:hover {
  color: mediumblue;
  background-color:lightseagreen;
 
}
.contact{
  padding: 0;
}
.contact,
.question {
  list-style: none;
  font-size: 1rem;
  font-weight: bold;
}

li {
  list-style:none;
}

table {
  margin: 0 auto;
}

.hide {
  display: none;
}